/* ヘッダー */

/* PC */

@media screen and (max-width:740px)
{
    .menu-pc
    {
        display:none;
    }
}

.menu-pc
{
    background-color:#000030;
}

.menu-pc>h1
{
    width:100px;
    height:100px;
}

.header-logo>img
{
    width:100px;
    height:100px;
}

#header-menu
{
    display:flex;
    margin:0;
    padding:0;
    
    justify-content:center;
}

#header-menu li
{
    margin:0;
    padding:0;
    
    width:150px;
    
    text-align:center;
    list-style:none;
}

#header-menu ul
{
    margin:0;
    padding:0;
}

#header-menu li a
{
    text-decoration:none;
    color:white;
}



#header-menu ul li
{
    height:0;
    
    overflow:hidden;
    transition:.5s;
}

#header-menu li:hover ul li
{
    height:30px;
    overflow: visible;
    border-top:1px solid #eee;
}

/* SmartPhone */

@media screen and (min-width:740px)
{
    .menu-smartphone
    {
        display:none;
    }
}

#input
{
    display:none;
}

.line
{
    width:20px;
    height:3px;
    background-color:black;
    margin:3px;
}

#content
{
    background-color:lightcoral;
    width:200px;
    height:100%;
    transform:translateX(-105%);
    transition:.5s;
    
    position:fixed;
    z-index:9999;
}

#input:checked ~ #content
{
    transform:translateX(0%);
}

/* フッター */

#footer-wrap
{
    background:#000030;
    color:#c8c8c8;
}

#footer-copyright
{
    text-align:center;
}