/* ヘッダー */

header
{
    background:#000030;
}

header>h1
{
    width:100px;
    height:100px;
}

.header-logo>img
{
    width:100px;
    height:100px;
}

#header-menu
{
    display:flex;
    margin:0;
    padding:0;
    
    justify-content:center;
}

#header-menu li
{
    margin:0;
    padding:0;
    
    width:150px;
    
    text-align:center;
    list-style:none;
}

#header-menu ul
{
    margin:0;
    padding:0;
}

#header-menu li a
{
    text-decoration:none;
    color:white;
}



#header-menu>li>.menu-hobby-child>ul>li
{
    height:0;
    
    overflow:hidden;
    transition:.5s;
}

#header-menu>li:hover>.menu-hobby-child>ul>li
{
    height:30px;
    overflow: visible;
}

/* フッター */

#footer-wrap
{
    background:#000030;
    color:#c8c8c8;
}

#footer-copyright
{
    text-align:center;
}